    bridge:
      domain:
        br_default:
          type: vlan-aware
          vlan:
{% for vlan in vlans %} 
{%- if not "hwaddress" in vlan %}
            '{{ vlan.id }}':
              vni:
                '{{ vlan.id }}': {}
{% endif %}
{% endfor %}
